/*
.rect{
	stroke: black;
}
*/
.dropdownDIV {
		margin-left: 50px;
	}

#dropdown {
		background-color: dimgray;
		color: #ffffff;
		font-size: 20px;
		padding: 5px;
		border: dimgray 1px solid;
	}

h1 {
	text-align: center;
	color: red;
	font-variant-caps: petite-caps;
	width: 71%;
}

svg {
		background-color:lightgrey;
	margin-left: 50px;
	top: 100px;
	float: left;
}

.nodetext {
	border: 2px solid black;
	font-size: 15px;
}

p {
	right: 1870px;
	margin: auto;
}

#chart, #chart1 {
	/*	float: right;*/
	left: 1870px;
	width: 651px;
	height: 254px;
	position: fixed;
	/*	border: 1px solid black;*/
	float: inherit;
}

.svgtitle {
	
	margin-left: 1870px;
	width: 630px;
	border: 1px solid black;
	/*	height: 20px;*/
	text-align: center;
	padding: 10px;
	position: relative;
	float: inherit;
}

#graph1 {
	font-size: 10px;
}

body {
	margin: 0;
}

#edgelabelType1,
#edgelabelType57 {
	fill: green;
}

#edgelabelType2,
#edgelabelType56 {
	fill: red;
}

.edgelabel {
	font-size: 18px;
	background-color: white;
	font-weight: 500;
	padding: 40px;
	z-index: 1;
}


.links line {
	stroke: #999;
}

.node {
	border: 1px solid black;
	border-radius: 25% 10%;
	/*
	stroke: black;
	stroke-width: 1px;
*/
}

.link {
	stroke: #999;
	stroke-width: 3px;
	stroke-opacity: 1;
	stroke-dasharray: 0, 0 10;
}


line.Type1,
.Type57 {
	stroke: green;
}

line.Type2,
.Type56 {
	stroke: red;
}

line.Type3 {
	stroke: blue;
}

#Type1,
#Type57 {
	stroke: green;
	fill: green;
}

#Type2,
#Type56 {
	stroke: red;
	fill: red;
}

#Type3 {
	stroke: blue;
	fill: blue;
}

.label {
	stroke: red;
	stroke-width: 1.5px;
}
