.monaco-editor .minimap-slider, .monaco-editor .minimap-slider .minimap-slider-horizontal {
    background: rgba(100, 100, 100, 0.2);
}

.monaco-editor .minimap-slider:hover, .monaco-editor .minimap-slider:hover .minimap-slider-horizontal {
    background: rgba(100, 100, 100, 0.35);
}

.monaco-editor .minimap-slider.active, .monaco-editor .minimap-slider.active .minimap-slider-horizontal {
    background: rgba(0, 0, 0, 0.3);
}

.monaco-editor .minimap-shadow-visible {
    box-shadow: #dddddd -6px 0 6px -6px inset;
}

.monaco-editor .scroll-decoration {
    box-shadow: #dddddd 0 6px 6px -6px inset;
}

.monaco-editor .focused .selected-text {
    background-color: #add6ff;
}

.monaco-editor .selected-text {
    background-color: #e5ebf1;
}

.monaco-editor, .monaco-editor-background, .monaco-editor .inputarea.ime-input {
    background-color: #fffffe;
}

.monaco-editor, .monaco-editor .inputarea.ime-input {
    color: #000000;
}

.monaco-editor .margin {
    background-color: #fffffe;
}

.monaco-editor .rangeHighlight {
    background-color: rgba(253, 255, 0, 0.2);
}

.vs-whitespace {
    color: rgba(51, 51, 51, 0.2) !important;
}

.monaco-editor .view-overlays .current-line {
/*     border: 2px solid #eeeeee;
 */    border: 1.5px solid red;
 }

.monaco-editor .margin-view-overlays .current-line-margin {
    border: 2px solid #eeeeee;
}

.monaco-editor .lines-content .cigr {
    background-color: #d3d3d3;
}

.monaco-editor .line-numbers {
    color: #2b91af;
}

.monaco-editor .view-ruler {
    background-color: #d3d3d3;
}

.monaco-editor .cursor {
    background-color: #000000;
    border-color: #000000;
    color: #ffffff;
}

.monaco-editor .squiggly-c-error {
    background: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%206%203'%20enable-background%3D'new%200%200%206%203'%20height%3D'3'%20width%3D'6'%3E%3Cg%20fill%3D'%23d60a0a'%3E%3Cpolygon%20points%3D'5.5%2C0%202.5%2C3%201.1%2C3%204.1%2C0'%2F%3E%3Cpolygon%20points%3D'4%2C0%206%2C2%206%2C0.6%205.4%2C0'%2F%3E%3Cpolygon%20points%3D'0%2C2%201%2C3%202.4%2C3%200%2C0.6'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E") repeat-x bottom left;
}

.monaco-editor .squiggly-b-warning {
    background: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%206%203'%20enable-background%3D'new%200%200%206%203'%20height%3D'3'%20width%3D'6'%3E%3Cg%20fill%3D'%23117711'%3E%3Cpolygon%20points%3D'5.5%2C0%202.5%2C3%201.1%2C3%204.1%2C0'%2F%3E%3Cpolygon%20points%3D'4%2C0%206%2C2%206%2C0.6%205.4%2C0'%2F%3E%3Cpolygon%20points%3D'0%2C2%201%2C3%202.4%2C3%200%2C0.6'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E") repeat-x bottom left;
}

.monaco-editor .squiggly-a-info {
    background: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%206%203'%20enable-background%3D'new%200%200%206%203'%20height%3D'3'%20width%3D'6'%3E%3Cg%20fill%3D'%23008000'%3E%3Cpolygon%20points%3D'5.5%2C0%202.5%2C3%201.1%2C3%204.1%2C0'%2F%3E%3Cpolygon%20points%3D'4%2C0%206%2C2%206%2C0.6%205.4%2C0'%2F%3E%3Cpolygon%20points%3D'0%2C2%201%2C3%202.4%2C3%200%2C0.6'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E") repeat-x bottom left;
}

.monaco-diff-editor .diff-review-line-number {
    color: #2b91af;
}

.monaco-diff-editor .diff-review-shadow {
    box-shadow: #dddddd 0 -6px 6px -6px inset;
}

.monaco-editor .line-insert, .monaco-editor .char-insert {
    background-color: rgba(155, 185, 85, 0.2);
}

.monaco-diff-editor .line-insert, .monaco-diff-editor .char-insert {
    background-color: rgba(155, 185, 85, 0.2);
}

.monaco-editor .inline-added-margin-view-zone {
    background-color: rgba(155, 185, 85, 0.2);
}

.monaco-editor .line-delete, .monaco-editor .char-delete {
    background-color: rgba(255, 0, 0, 0.2);
}

.monaco-diff-editor .line-delete, .monaco-diff-editor .char-delete {
    background-color: rgba(255, 0, 0, 0.2);
}

.monaco-editor .line-change, .monaco-editor .char-change {
    background-color: rgba(0, 100, 255, 0.2);
}

.monaco-diff-editor .line-change, .monaco-diff-editor .char-change {
    background-color: rgba(0, 100, 255, 0.2);
}

.monaco-editor .line-move, .monaco-editor .char-move {
    background-color: rgba(255, 140, 0, 0.2);
}

.monaco-diff-editor .line-move, .monaco-diff-editor .char-move {
    background-color: rgba(255, 140, 0, 0.2);
}

.monaco-editor .inline-deleted-margin-view-zone {
    background-color: rgba(255, 0, 0, 0.2);
}

.monaco-diff-editor.side-by-side .editor.modified {
    box-shadow: -6px 0 5px -5px #dddddd;
}

.monaco-editor .bracket-match {
    background-color: rgba(0, 100, 0, 0.1);
}

.monaco-editor .bracket-match {
    border: 1px solid #b9b9b9;
}

.monaco-editor .codelens-decoration {
    color: #999999;
}

.monaco-editor .codelens-decoration > a:hover {
    color: #0000ff !important;
}

.monaco-editor .findOptionsWidget {
    background-color: #efeff2;
}

.monaco-editor .findOptionsWidget {
    box-shadow: 0 2px 8px #a8a8a8;
}

.monaco-editor .findMatch {
    background-color: rgba(234, 92, 0, 0.33);
}

.monaco-editor .currentFindMatch {
    background-color: #a8ac94;
}

.monaco-editor .findScope {
    background-color: rgba(180, 180, 180, 0.3);
}

.monaco-editor .find-widget {
    background-color: #efeff2;
}

.monaco-editor .find-widget {
    box-shadow: 0 2px 8px #a8a8a8;
}

.monaco-editor .find-widget.no-results .matchesCount {
    color: #a1260d;
}

.monaco-editor .find-widget .monaco-sash {
    background-color: #c8c8c8;
    width: 3px !important;
    margin-left: -4px;
}

.monaco-editor .hoverHighlight {
    background-color: rgba(173, 214, 255, 0.15);
}

.monaco-editor .monaco-editor-hover {
    background-color: #efeff2;
}

.monaco-editor .monaco-editor-hover {
    border: 1px solid #c8c8c8;
}

.monaco-editor .monaco-editor-hover .hover-row:not(:first-child):not(:empty) {
    border-top: 1px solid rgba(200, 200, 200, 0.5);
}

.monaco-editor .monaco-editor-hover a {
    color: #4080d0;
}

.monaco-editor .monaco-editor-hover code {
    background-color: rgba(220, 220, 220, 0.4);
}

.monaco-editor.vs .valueSetReplacement {
    outline: solid 2px #b9b9b9;
}

.monaco-editor .detected-link-active {
    color: #0000ff !important;
}

.monaco-editor .monaco-editor-overlaymessage .anchor {
    border-top-color: #007acc;
}

.monaco-editor .monaco-editor-overlaymessage .message {
    border: 1px solid #007acc;
}

.monaco-editor .monaco-editor-overlaymessage .message {
    background-color: #d6ecf2;
}

.monaco-editor .parameter-hints-widget {
    border: 1px solid #c8c8c8;
}

.monaco-editor .parameter-hints-widget.multiple .body {
    border-left: 1px solid rgba(200, 200, 200, 0.5);
}

.monaco-editor .parameter-hints-widget .signature.has-docs {
    border-bottom: 1px solid rgba(200, 200, 200, 0.5);
}

.monaco-editor .parameter-hints-widget {
    background-color: #efeff2;
}

.monaco-editor .parameter-hints-widget a {
    color: #4080d0;
}

.monaco-editor .parameter-hints-widget code {
    background-color: rgba(220, 220, 220, 0.4);
}

.monaco-editor .suggest-widget .monaco-list .monaco-list-row .monaco-highlighted-label .highlight {
    color: #007acc;
}

.monaco-editor .suggest-widget {
    color: #000000;
}

.monaco-editor .suggest-widget a {
    color: #4080d0;
}

.monaco-editor .suggest-widget code {
    background-color: rgba(220, 220, 220, 0.4);
}

.monaco-editor .focused .selectionHighlight {
    background-color: rgba(173, 214, 255, 0.3);
}

.monaco-editor .selectionHighlight {
    background-color: rgba(173, 214, 255, 0.15);
}

.monaco-editor .wordHighlight {
    background-color: rgba(87, 87, 87, 0.25);
}

.monaco-editor .wordHighlightStrong {
    background-color: rgba(14, 99, 156, 0.25);
}

.monaco-editor .accessibilityHelpWidget {
    background-color: #efeff2;
}

.monaco-editor .accessibilityHelpWidget {
    box-shadow: 0 2px 8px #a8a8a8;
}

.monaco-editor .tokens-inspect-widget {
    border: 1px solid #c8c8c8;
}

.monaco-editor .tokens-inspect-widget .tokens-inspect-separator {
    background-color: #c8c8c8;
}

.monaco-editor .tokens-inspect-widget {
    background-color: #efeff2;
}

.monaco-editor .reference-zone-widget .ref-tree .referenceMatch {
    background-color: rgba(234, 92, 0, 0.3);
}

.monaco-editor .reference-zone-widget .preview .reference-decoration {
    background-color: rgba(245, 216, 2, 0.87);
}

.monaco-editor .reference-zone-widget .ref-tree {
    background-color: #f3f3f3;
}

.monaco-editor .reference-zone-widget .ref-tree {
    color: #646465;
}

.monaco-editor .reference-zone-widget .ref-tree .reference-file {
    color: #1e1e1e;
}

.monaco-editor .reference-zone-widget .ref-tree .monaco-tree.focused .monaco-tree-rows > .monaco-tree-row.selected:not(.highlighted) {
    background-color: rgba(51, 153, 255, 0.2);
}

.monaco-editor .reference-zone-widget .ref-tree .monaco-tree.focused .monaco-tree-rows > .monaco-tree-row.selected:not(.highlighted) {
    color: #6c6c6c !important;
}

.monaco-editor .reference-zone-widget .preview .monaco-editor .monaco-editor-background,.monaco-editor .reference-zone-widget .preview .monaco-editor .inputarea.ime-input {
    background-color: #f2f8fc;
}

.monaco-editor .reference-zone-widget .preview .monaco-editor .margin {
    background-color: #f2f8fc;
}

.monaco-editor .goto-definition-link {
    color: #0000ff !important;
}

.mtk1 {
    color: #000000;
}

.mtk2 {
    color: #fffffe;
}

.mtk3 {
    color: #808080;
}

.mtk4 {
    color: #ff0000;
}

.mtk5 {
    color: #0451a5;
}

.mtk6 {
    color: #0000ff;
}

.mtk7 {
    color: #09885a;
}

.mtk8 {
    color: #008000;
}

.mtk9 {
    color: #dd0000;
}

.mtk10 {
    color: #383838;
}

.mtk11 {
    color: #cd3131;
}

.mtk12 {
    color: #863b00;
}

.mtk13 {
    color: #af00db;
}

.mtk14 {
    color: #800000;
}

.mtk15 {
    color: #e00000;
}

.mtk16 {
    color: #3030c0;
}

.mtk17 {
    color: #666666;
}

.mtk18 {
    color: #778899;
}

.mtk19 {
    color: #ff00ff;
}

.mtk20 {
    color: #a31515;
}

.mtk21 {
    color: #4f76ac;
}

.mtk22 {
    color: #008080;
}

.mtk23 {
    color: #001188;
}

.mtk24 {
    color: #4864aa;
}

.mtk25 {
    color: #04a600;
}

.mtki {
    font-style: italic;
}

.mtkb {
    font-weight: bold;
}

.mtku {
    text-decoration: underline;
}