/*
.rect{
	stroke: black;
}
*/

h1{
	text-align: center;
	color: red;
	font-variant-caps:petite-caps;
	width: 71%;
}
svg {
	/*	background-color:lightgrey;*/
	float: left;
}

.nodetext{
border: 2px solid black;
	font-size: 15px;
}
p{
	margin: auto;
}
#chart1{
/*	float: right;*/
	left: 1820px;
	width: 651px;
	height: 254px;
	position: fixed;
/*	border: 1px solid black;*/
	float: inherit;
}
.svgtitle{
	border: 1px solid black;
/*	height: 20px;*/
	text-align: center;
	padding: 10px;
}
#graph{
	font-size: 10px;
}
body {
	margin: 0;
}

#edgelabelType1,
#edgelabelType57 {
	fill: green;
}

#edgelabelType2,
#edgelabelType56 {
	fill: red;
}

.edgelabel {
	font-size: 18px;
	background-color: white;
	font-weight: 500;
	padding: 40px;
	z-index: 1;
}


.links line {
	stroke: #999;
}

.node {
	border: 1px solid black;
	border-radius: 25% 10%;
	/*
	stroke: black;
	stroke-width: 1px;
*/
}

.link {
	stroke: #999;
	stroke-width: 3px;
	stroke-opacity: 1;
	stroke-dasharray: 0, 0 10;
}


line.Type1,
.Type57 {
	stroke: green;
}

line.Type2,
.Type56 {
	stroke: red;
}

line.Type3 {
	stroke: blue;
}

#Type1,
#Type57 {
	stroke: green;
	fill: green;
}

#Type2,
#Type56 {
	stroke: red;
	fill: red;
}

#Type3 {
	stroke: blue;
	fill: blue;
}

.label {
	stroke: red;
	stroke-width: 1.5px;
}
